asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
et-xmlfile
filelock
Markdown
numpy
openpyxl
pandas
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
python-dateutil
pytz
setuptools
six
sqlparse
typing_extensions
tzdata
virtualenv